*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

.header{
    background-color: #27374D;
    text-align: center;
    color: white;
    width: 100%;
    padding: 10px;
}

.main{
    padding: 20px;
}

.section{
    margin: 0 auto;
    padding: 10px;
    display: grid;
    justify-items: center;
}

.titleSection{
    text-align: center;
    padding: 10px;
}

.form{
    width: 100%;
}

.form label{
    display: block;
    margin-top: 5px;
}

.form input{
    display: block;
    width: 100%;
    padding: 5px;
}

.form label[for='bookFormIsComplete']{
    display: inline;
    margin-top: 2px;
}

.form input[type='checkbox']{
    margin-top: 10px;
    width: auto;
    display: inline;
}

.searchInput{
    padding: 10px;
}

.bookList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button{
    cursor: pointer;
    margin: 5px;
    background-color: #27374D;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.book{
    margin: 5px;
    padding: 15px;
    border-radius: 5px;
    border: solid 0.5px black;
}

.containerList{
    display: flex;
    flex-wrap: wrap;
}

#shadow{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
}

#closeModal{
    position: absolute;
    top: 10%;
    right: 5%;
    border: none;
    background-color: transparent;
    color: white;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
}

.modal{
    display: none;
    position: fixed;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: opacity 0.5s;
    opacity: 0.9;
    z-index: 1000;
}